@model EmployeeDetailsServiceModel

@{
    ViewBag.Title = "Employee Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">        
            <p style="font-size:25px;"><u>@Model.LastName</u></p>
            <p style="font-size:20px;">@Model.FirstName</p>
            <p>Located in: <b>@Model.DivisionName</b></p> 
            <div class="form-inline">
                @if (this.User.Identity.Name == Model.ApplicationName)
                {
                    <a class="btn btn-warning" asp-controller="House" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="House" asp-action="Delete"
                       asp-route-id="@Model.Id">Delete</a>                    
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Employee contacts</h5>
                    <p class="card-text">Email:  @Model.ApplicationName</p>
                    <p class="card-text">Phone Number: @Model.PhoneNumber</p>
                </div>
            </div>
    </div>
</div>

