@model DataOfClientServiseModelForCheching

<tr>
    <th>@Model.Id</th>
    <td>@Model.TypeOfClient</td>
    <td>@if(Model.Name != null)
        {
            @Model.Name
        }
        else
        {
            @($"{Model.FirstName} {Model.Surname}")
        }
    </td>
    <td>@Model.Nationality</td>
    <td>@Model.DataChecking</td>
    <td>
        <a asp-controller="Client" asp-action="DetailsDataOfClient" asp-route-userId="@Model.UserId"
         class="btn btn-success">Details</a>
    </td>
    <td>
        @if(Model.ClientId != null)
        {
            <a asp-controller="Client" asp-action="DetailsAcauntOfClient" asp-route-userId="@Model.UserId"
            class="btn btn-success">AcountDetails</a>
        }
        else
        {
            <p>Not acount</p>
        }

    </td>
</tr>

